<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561140060034-4fbfqvpljl4ddadui444g0drgg3cn1r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561140060034-4fbfqvpljl4ddadui444g0drgg3cn1r3</string>
	<key>API_KEY</key>
	<string>AIzaSyD_IigUwq1KGGhU8k9KulmzOmheWZtsvZs</string>
	<key>GCM_SENDER_ID</key>
	<string>561140060034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nea.nea</string>
	<key>PROJECT_ID</key>
	<string>nea2-4c301</string>
	<key>STORAGE_BUCKET</key>
	<string>nea2-4c301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561140060034:ios:4beaba554b4716bb2e099b</string>
	<key>DATABASE_URL</key>
	<string>https://nea2-4c301-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>